<script src="https://cdns.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize..min.js"></script>
<!-- JavaScript Bundle with Popper -->

<script>
    M.sidenav.init(document.querySelector(".sidenav"))
    M.FormSelect.init(document.querySelector("#status"))
</script>
</body>

</html>